<h1>Informações do usuário</h1>

<ul>

  <li>
    <strong>Nome:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Salário:</strong>
    <span>R$ </span>
    <%= @user.salario %>
  </li>

  <li>
    <strong>Nascimento:</strong>
    <%= @user.nascimento %>
  </li>

</ul>

<span><%= link "Editar", to: Routes.user_path(@conn, :edit, @user) %></span>
<span><%= link "Voltar", to: Routes.user_path(@conn, :index) %></span>
